@font-face {
    font-family: 'Amatica SC';
    src: url('./AmaticaSC-Regular.ttf') format('truetype');
}

body {
    background-color: #FCEBEF;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Amatica SC";
    color: #382C38
}

/* h1 {
    font-family: 'amatica-sc-regular', sans-serif;
} */

.font_light { 
    color: #FDF5FF
}

.font_dark {
    color: #382C38
}

.navbar {
    background-color: #DACEDD;
    min-height: 50px;
}

@media screen and (max-width:600px) {

}

@media screen and (max-height:600px) {

}

